body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    180deg,
    rgb(249, 245, 245),
    rgb(141, 141, 138)
  );
}
.card {
  background-color: rebeccapurple;
  border-radius: 5px;
  border: solid red;
  width: 380px;
}
.dp_container {
  background-image: url("https://images.unsplash.com/photo-1513789181297-6f2ec112c0bc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=388&q=80");
  /* background-repeat: no-repeat; */
  height: 300px;
  /* width: 700px; */
}
.dis_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.plus {
  background-color: red;
  width: 20px;
  height: 20px;
  position: relative;
  left: 10px;
  top: 10px;
  border-radius: 5px;
  color: rgb(3, 1, 1);
}
.plus > span {
  position: relative;
  bottom: 2px;
  font-size: 20px;
}
.threedots {
  float: right;
  font-size: 25px;
  font-weight: bolder;
  color: rgb(4, 1, 1);
  position: relative;
  bottom: 20px;
  left: -5px;
}
.name_container {
  background-color: white;

  flex-direction: column;
}
p {
  position: relative;
  bottom: 25px;
  font-weight: 50;
  font-size: 13px;
  height: 8px;
}
.follower_container {
  flex-direction: row;

  gap: 35px;
  background-color: rgb(244, 246, 249);
  height: 83px;
}
.flxdirection_clm {
  flex-direction: column;
}
